/*--------------------------------------------------------------

# Custom
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Google Fonts
--------------------------------------------------------------*/
@import url(https://cdn.jsdelivr.net/font-hack/2.020/css/hack-extended.min.css);
/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
body {
  font-family: "Raleway", sans-serif; }

.full_section {
  padding: 45px 0px; }

.intro-title {
  margin-bottom: 10px;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 0px;
  font-weight: bolder; }

.sub-title {
  margin: 0px 0px 25px 0px;
  font-size: 20px;
  font-weight: 300; }

p.lead {
  font-style: italic;
  font-size: 18px; }

div#bs-example-navbar-collapse-1.collapse.in {
  text-align: right;
  background: #4F5B93;
  z-index: 99999;
  position: relative; }

nav.navbar.navbar-default.scrolled {
  background: #4F5B93;
  padding: 0px;
  z-index: 999999; }

nav.navbar-default.scrolled .navbar-nav > li > a:hover {
  background: #472F78; }

nav.navbar-default {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0px;
  margin-bottom: 0;
  padding: 15px 0;
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  nav.navbar-default .navbar-nav > li > a,
  nav.navbar-default .navbar-nav > li > a:hover {
    color: #fff; }
  nav.navbar-default .navbar-brand, nav.navbar-default a.navbar-brand:hover {
    color: #fff; }
  nav.navbar-default .navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 0;
    border-color: #fff; }
  nav.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff; }
  nav.navbar-default .navbar-toggle:hover,
  nav.navbar-default .navbar-toggle:focus {
    background-color: transparent; }
  nav.navbar-default .navbar-collapse {
    box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.1);
    border-top: 0px solid transparent; }

header {
  background: #f4645f url("../img/background.jpg") top center repeat-x;
  color: #fff;
  padding: 15em 0 5em;
  min-height: 90vh; }
  header h1 {
    font-size: 30px;
    margin-bottom: .6em;
    text-transform: uppercase;
    font-family: Hack, monospace; }
  header h2 {
    margin-bottom: 1.7em;
    font-size: 20px;
    font-family: "Raleway", sans-serif; }
  header .btn-top {
    background: #313E78;
    color: #fff;
    border-radius: 0;
    margin: 20px 10px;
    padding: 10px 95px;
    font-size: 18px;
    font-weight: bolder;
    border: 5px solid #313E78; }
  header .btn-top:hover {
    background: #4F5B93;
    color: #fff; }

section#date {
  background: #4F5B93;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 20px;
  width: 100%; }

section#venue {
  background: #472F78;
  color: #fff; }

section#schedule h5 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: bolder; }
section#schedule .timeline {
  width: 100%;
  position: relative;
  padding: 1px 0;
  list-style: none;
  font-weight: 300; }
section#schedule .timeline .timeline-item {
  padding-left: 0;
  padding-right: 30px; }
section#schedule .timeline .timeline-item.timeline-item-right,
section#schedule .timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
  padding-left: 30px;
  padding-right: 0; }
section#schedule .timeline .timeline-item .timeline-event {
  width: 100%; }
section#schedule .timeline:before {
  border-right-style: solid; }
section#schedule .timeline:before,
section#schedule .timeline:after {
  content: " ";
  display: block; }
section#schedule .timeline:after {
  clear: both; }
section#schedule .timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 100% !important;
  margin-left: 1px;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #888888; }
section#schedule .timeline.timeline-single-column.timeline {
  width: 100%;
  max-width: 768px; }
section#schedule .timeline.timeline-single-column.timeline .timeline-item {
  padding-left: 72px;
  padding-right: 0; }
section#schedule .timeline.timeline-single-column.timeline .timeline-item.timeline-item-right,
section#schedule .timeline.timeline-single-column.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
  padding-left: 72px;
  padding-right: 0; }
section#schedule .timeline.timeline-single-column.timeline .timeline-item .timeline-event {
  width: 100%; }
section#schedule .timeline.timeline-single-column.timeline:before {
  left: 42px;
  width: 0;
  margin-left: -1px; }
section#schedule .timeline.timeline-single-column.timeline .timeline-item {
  width: 100%;
  margin-bottom: 20px; }
section#schedule .timeline.timeline-single-column.timeline .timeline-item:nth-of-type(even) {
  margin-top: 0; }
section#schedule .timeline.timeline-single-column.timeline .timeline-item > .timeline-event {
  float: right !important; }
section#schedule .timeline.timeline-single-column.timeline .timeline-item > .timeline-event:before,
section#schedule .timeline.timeline-single-column.timeline .timeline-item > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important; }
section#schedule .timeline.timeline-single-column.timeline .timeline-item > .timeline-event:before {
  left: -15px !important;
  border-right-width: 15px !important; }
section#schedule .timeline.timeline-single-column.timeline .timeline-item > .timeline-event:after {
  left: -14px !important;
  border-right-width: 14px !important; }
section#schedule .timeline.timeline-single-column.timeline .timeline-item > .timeline-point {
  transform: translateX(-50%);
  left: 42px !important;
  margin-left: 0; }
section#schedule .timeline.timeline-single-column.timeline .timeline-label {
  transform: translateX(-50%);
  margin: 0 0 20px 42px; }
section#schedule .timeline.timeline-single-column.timeline .timeline-label + .timeline-item + .timeline-item {
  margin-top: 0; }
section#schedule .timeline.timeline-line-solid:before {
  border-right-style: solid; }
section#schedule .timeline.timeline-line-dotted:before {
  border-right-style: dotted; }
section#schedule .timeline.timeline-line-dashed:before {
  border-right-style: dashed; }
section#schedule .timeline .timeline-item {
  position: relative;
  float: left;
  clear: left;
  width: 50%;
  margin-bottom: 20px; }
section#schedule .timeline .timeline-item:before,
section#schedule .timeline .timeline-item:after {
  content: "";
  display: table; }
section#schedule .timeline .timeline-item:after {
  clear: both; }
section#schedule .timeline .timeline-item:last-child {
  margin-bottom: 0 !important; }
section#schedule .timeline .timeline-item.timeline-item-right > .timeline-event,
section#schedule .timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-event {
  float: right !important; }
section#schedule .timeline .timeline-item.timeline-item-right > .timeline-event:before,
section#schedule .timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before,
section#schedule .timeline .timeline-item.timeline-item-right > .timeline-event:after,
section#schedule .timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important; }
section#schedule .timeline .timeline-item.timeline-item-right > .timeline-event:before,
section#schedule .timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before {
  left: -15px !important;
  border-right-width: 15px !important; }
section#schedule .timeline .timeline-item.timeline-item-right > .timeline-event:after,
section#schedule .timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
  left: -14px !important;
  border-right-width: 14px !important; }
section#schedule .timeline .timeline-item > .timeline-event:before {
  top: 10px;
  right: -15px;
  border-top: 15px solid transparent;
  border-left-width: 15px;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom: 15px solid transparent; }
section#schedule .timeline .timeline-item > .timeline-event:after {
  top: 11px;
  right: -14px;
  border-top: 14px solid transparent;
  border-left-width: 14px;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom: 14px solid transparent; }
section#schedule .timeline .timeline-item > .timeline-point {
  top: 25px; }
section#schedule .timeline-single-column.timeline .timeline-item > .timeline-event {
  float: right !important; }
section#schedule .timeline-single-column.timeline .timeline-item > .timeline-event:before,
section#schedule .timeline-single-column.timeline .timeline-item > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important; }
section#schedule .timeline-single-column.timeline .timeline-item > .timeline-event:before {
  left: -15px !important;
  border-right-width: 15px !important; }
section#schedule .timeline-single-column.timeline .timeline-item > .timeline-event:after {
  left: -14px !important;
  border-right-width: 14px !important; }
section#schedule .timeline .timeline-item:nth-of-type(2) {
  margin-top: 40px; }
section#schedule .timeline .timeline-item.timeline-item-left,
section#schedule .timeline .timeline-item.timeline-item-right {
  clear: both !important; }
section#schedule .timeline .timeline-item.timeline-item-right,
section#schedule .timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
  float: right;
  clear: right; }
section#schedule .timeline .timeline-item.timeline-item-right > .timeline-point,
section#schedule .timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-point {
  left: -24px; }
section#schedule .timeline .timeline-item.timeline-item-right > .timeline-point.timeline-point-blank,
section#schedule .timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-point.timeline-point-blank {
  left: -12px; }
section#schedule .timeline .timeline-item.timeline-item-arrow-sm.timeline-item-right > .timeline-event,
section#schedule .timeline .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left) > .timeline-event {
  float: right !important; }
section#schedule .timeline .timeline-item.timeline-item-arrow-sm.timeline-item-right > .timeline-event:before,
section#schedule .timeline .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before,
section#schedule .timeline .timeline-item.timeline-item-arrow-sm.timeline-item-right > .timeline-event:after,
section#schedule .timeline .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important; }
section#schedule .timeline .timeline-item.timeline-item-arrow-sm.timeline-item-right > .timeline-event:before,
section#schedule .timeline .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before {
  left: -10px !important;
  border-right-width: 10px !important; }
section#schedule .timeline .timeline-item.timeline-item-arrow-sm.timeline-item-right > .timeline-event:after,
section#schedule .timeline .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
  left: -9px !important;
  border-right-width: 9px !important; }
section#schedule .timeline .timeline-item.timeline-item-arrow-sm > .timeline-event:before {
  top: 4px;
  right: -10px;
  border-top: 10px solid transparent;
  border-left-width: 10px;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom: 10px solid transparent; }
section#schedule .timeline .timeline-item.timeline-item-arrow-sm > .timeline-event:after {
  top: 5px;
  right: -9px;
  border-top: 9px solid transparent;
  border-left-width: 9px;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom: 9px solid transparent; }
section#schedule .timeline .timeline-item.timeline-item-arrow-sm > .timeline-point {
  top: 14px; }
section#schedule .timeline-single-column.timeline .timeline-item.timeline-item-arrow-sm > .timeline-event {
  float: right !important; }
section#schedule .timeline-single-column.timeline .timeline-item.timeline-item-arrow-sm > .timeline-event:before,
section#schedule .timeline-single-column.timeline .timeline-item.timeline-item-arrow-sm > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important; }
section#schedule .timeline-single-column.timeline .timeline-item.timeline-item-arrow-sm > .timeline-event:before {
  left: -10px !important;
  border-right-width: 10px !important; }
section#schedule .timeline-single-column.timeline .timeline-item.timeline-item-arrow-sm > .timeline-event:after {
  left: -9px !important;
  border-right-width: 9px !important; }
section#schedule .timeline .timeline-item.timeline-item-arrow-md.timeline-item-right > .timeline-event,
section#schedule .timeline .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left) > .timeline-event {
  float: right !important; }
section#schedule .timeline .timeline-item.timeline-item-arrow-md.timeline-item-right > .timeline-event:before,
section#schedule .timeline .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before,
section#schedule .timeline .timeline-item.timeline-item-arrow-md.timeline-item-right > .timeline-event:after,
section#schedule .timeline .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important; }
section#schedule .timeline .timeline-item.timeline-item-arrow-md.timeline-item-right > .timeline-event:before,
section#schedule .timeline .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before {
  left: -15px !important;
  border-right-width: 15px !important; }
section#schedule .timeline .timeline-item.timeline-item-arrow-md.timeline-item-right > .timeline-event:after,
section#schedule .timeline .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
  left: -14px !important;
  border-right-width: 14px !important; }
section#schedule .timeline .timeline-item.timeline-item-arrow-md > .timeline-event:before {
  top: 10px;
  right: -15px;
  border-top: 15px solid transparent;
  border-left-width: 15px;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom: 15px solid transparent; }
section#schedule .timeline .timeline-item.timeline-item-arrow-md > .timeline-event:after {
  top: 11px;
  right: -14px;
  border-top: 14px solid transparent;
  border-left-width: 14px;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom: 14px solid transparent; }
section#schedule .timeline .timeline-item.timeline-item-arrow-md > .timeline-point {
  top: 25px; }
section#schedule .timeline-single-column.timeline .timeline-item.timeline-item-arrow-md > .timeline-event {
  float: right !important; }
section#schedule .timeline-single-column.timeline .timeline-item.timeline-item-arrow-md > .timeline-event:before,
section#schedule .timeline-single-column.timeline .timeline-item.timeline-item-arrow-md > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important; }
section#schedule .timeline-single-column.timeline .timeline-item.timeline-item-arrow-md > .timeline-event:before {
  left: -15px !important;
  border-right-width: 15px !important; }
section#schedule .timeline-single-column.timeline .timeline-item.timeline-item-arrow-md > .timeline-event:after {
  left: -14px !important;
  border-right-width: 14px !important; }
section#schedule .timeline .timeline-item.timeline-item-arrow-lg.timeline-item-right > .timeline-event,
section#schedule .timeline .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left) > .timeline-event {
  float: right !important; }
section#schedule .timeline .timeline-item.timeline-item-arrow-lg.timeline-item-right > .timeline-event:before,
section#schedule .timeline .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before,
section#schedule .timeline .timeline-item.timeline-item-arrow-lg.timeline-item-right > .timeline-event:after,
section#schedule .timeline .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important; }
section#schedule .timeline .timeline-item.timeline-item-arrow-lg.timeline-item-right > .timeline-event:before,
section#schedule .timeline .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before {
  left: -18px !important;
  border-right-width: 18px !important; }
section#schedule .timeline .timeline-item.timeline-item-arrow-lg.timeline-item-right > .timeline-event:after,
section#schedule .timeline .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
  left: -17px !important;
  border-right-width: 17px !important; }
section#schedule .timeline .timeline-item.timeline-item-arrow-lg > .timeline-event:before {
  top: 10px;
  right: -18px;
  border-top: 18px solid transparent;
  border-left-width: 18px;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom: 18px solid transparent; }
section#schedule .timeline .timeline-item.timeline-item-arrow-lg > .timeline-event:after {
  top: 11px;
  right: -17px;
  border-top: 17px solid transparent;
  border-left-width: 17px;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom: 17px solid transparent; }
section#schedule .timeline .timeline-item.timeline-item-arrow-lg > .timeline-point {
  top: 28px; }
section#schedule .timeline-single-column.timeline .timeline-item.timeline-item-arrow-lg > .timeline-event {
  float: right !important; }
section#schedule .timeline-single-column.timeline .timeline-item.timeline-item-arrow-lg > .timeline-event:before,
section#schedule .timeline-single-column.timeline .timeline-item.timeline-item-arrow-lg > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important; }
section#schedule .timeline-single-column.timeline .timeline-item.timeline-item-arrow-lg > .timeline-event:before {
  left: -18px !important;
  border-right-width: 18px !important; }
section#schedule .timeline-single-column.timeline .timeline-item.timeline-item-arrow-lg > .timeline-event:after {
  left: -17px !important;
  border-right-width: 17px !important; }
section#schedule .timeline .timeline-item > .timeline-event {
  background: #fff;
  border: 1px solid #888888;
  color: #555;
  position: relative;
  float: left;
  border-radius: 3px; }
section#schedule .timeline .timeline-item > .timeline-event:before {
  border-left-color: #888888;
  border-right-color: #888888; }
section#schedule .timeline .timeline-item > .timeline-event:after {
  border-left-color: #fff;
  border-right-color: #fff; }
section#schedule .timeline .timeline-item > .timeline-event * {
  color: inherit; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-default {
  background: #fff;
  border: 1px solid #888888;
  color: #555; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-default:before {
  border-left-color: #888888;
  border-right-color: #888888; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-default:after {
  border-left-color: #fff;
  border-right-color: #fff; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-default * {
  color: inherit; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-primary {
  background: #f5f5f5;
  border: 1px solid #888888;
  color: #555; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-primary:before {
  border-left-color: #888888;
  border-right-color: #888888; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-primary:after {
  border-left-color: #f5f5f5;
  border-right-color: #f5f5f5; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-primary * {
  color: inherit; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-success {
  background: #F3F8ED;
  border: 1px solid #72b92e;
  color: #3F8100; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-success:before {
  border-left-color: #72b92e;
  border-right-color: #72b92e; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-success:after {
  border-left-color: #F3F8ED;
  border-right-color: #F3F8ED; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-success * {
  color: inherit; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-info {
  background: #F0F8FD;
  border: 1px solid #3e93cf;
  color: #0062A7; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-info:before {
  border-left-color: #3e93cf;
  border-right-color: #3e93cf; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-info:after {
  border-left-color: #F0F8FD;
  border-right-color: #F0F8FD; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-info * {
  color: inherit; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-warning {
  background: #FFF9E9;
  border: 1px solid #d0aa42;
  color: #ac7e00; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-warning:before {
  border-left-color: #d0aa42;
  border-right-color: #d0aa42; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-warning:after {
  border-left-color: #FFF9E9;
  border-right-color: #FFF9E9; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-warning * {
  color: inherit; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-danger {
  background: #FFC4BC;
  border: 1px solid #d25a4b;
  color: #B71500; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-danger:before {
  border-left-color: #d25a4b;
  border-right-color: #d25a4b; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-danger:after {
  border-left-color: #FFC4BC;
  border-right-color: #FFC4BC; }
section#schedule .timeline .timeline-item > .timeline-event.timeline-event-danger * {
  color: inherit; }
section#schedule .timeline .timeline-item > .timeline-event:before,
section#schedule .timeline .timeline-item > .timeline-event:after {
  content: "";
  display: inline-block;
  position: absolute; }
section#schedule .timeline .timeline-item > .timeline-event .timeline-heading,
section#schedule .timeline .timeline-item > .timeline-event .timeline-body,
section#schedule .timeline .timeline-item > .timeline-event .timeline-footer {
  padding: 4px 10px; }
section#schedule .timeline .timeline-item > .timeline-event .timeline-heading p,
section#schedule .timeline .timeline-item > .timeline-event .timeline-body p,
section#schedule .timeline .timeline-item > .timeline-event .timeline-footer p,
section#schedule .timeline .timeline-item > .timeline-event .timeline-heading ul,
section#schedule .timeline .timeline-item > .timeline-event .timeline-body ul,
section#schedule .timeline .timeline-item > .timeline-event .timeline-footer ul {
  margin-bottom: 0; }
section#schedule .timeline .timeline-item > .timeline-event .timeline-heading h4 {
  font-weight: 400; }
section#schedule .timeline .timeline-item > .timeline-event .timeline-footer a {
  cursor: pointer;
  text-decoration: none; }
section#schedule .timeline .timeline-item > .timeline-event .panel,
section#schedule .timeline .timeline-item > .timeline-event .table,
section#schedule .timeline .timeline-item > .timeline-event .blankslate {
  margin: 0;
  border: none;
  border-radius: inherit;
  overflow: hidden; }
section#schedule .timeline .timeline-item > .timeline-event .table th {
  border-top: 0; }
section#schedule .timeline .timeline-item > .timeline-point {
  color: #888888;
  background: #fff;
  right: -24px;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  margin-left: 12px;
  margin-right: 12px;
  position: absolute;
  z-index: 100;
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
  line-height: 20px;
  text-align: center; }
section#schedule .timeline .timeline-item > .timeline-point.timeline-point-blank {
  right: -12px;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-left: 6px;
  margin-right: 6px;
  color: #888888;
  background: #888888; }
section#schedule .timeline .timeline-item > .timeline-point.timeline-point-default {
  color: #888888;
  background: #fff; }
section#schedule .timeline .timeline-item > .timeline-point.timeline-point-primary {
  color: #888888;
  background: #fff; }
section#schedule .timeline .timeline-item > .timeline-point.timeline-point-success {
  color: #72b92e;
  background: #fff; }
section#schedule .timeline .timeline-item > .timeline-point.timeline-point-info {
  color: #3e93cf;
  background: #fff; }
section#schedule .timeline .timeline-item > .timeline-point.timeline-point-warning {
  color: #d0aa42;
  background: #fff; }
section#schedule .timeline .timeline-item > .timeline-point.timeline-point-danger {
  color: #d25a4b;
  background: #fff; }
section#schedule .timeline .timeline-label {
  position: relative;
  float: left;
  clear: left;
  width: 50%;
  margin-bottom: 20px;
  top: 1px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center; }
section#schedule .timeline .timeline-label:before,
section#schedule .timeline .timeline-label:after {
  content: "";
  display: table; }
section#schedule .timeline .timeline-label:after {
  clear: both; }
section#schedule .timeline .timeline-label:last-child {
  margin-bottom: 0 !important; }
section#schedule .timeline .timeline-label + .timeline-item {
  margin-top: 0; }
section#schedule .timeline .timeline-label + .timeline-item + .timeline-item {
  margin-top: 40px; }
section#schedule .timeline .timeline-label .label-default {
  background-color: #888888; }
section#schedule .timeline .timeline-label .label-primary {
  background-color: #888888; }
section#schedule .timeline .timeline-label .label-info {
  background-color: #3e93cf; }
section#schedule .timeline .timeline-label .label-warning {
  background-color: #d0aa42; }
section#schedule .timeline .timeline-label .label-danger {
  background-color: #d25a4b; }
@media (max-width: 768px) {
  section#schedule .timeline.timeline {
    width: 100%;
    max-width: 100%; }
  section#schedule .timeline.timeline .timeline-item {
    padding-left: 72px;
    padding-right: 0; }
  section#schedule .timeline.timeline .timeline-item.timeline-item-right,
  section#schedule .timeline.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
    padding-left: 72px;
    padding-right: 0; }
  section#schedule .timeline.timeline .timeline-item .timeline-event {
    width: 100%; }
  section#schedule .timeline.timeline:before {
    left: 42px;
    width: 0;
    margin-left: -1px; }
  section#schedule .timeline.timeline .timeline-item {
    width: 100%;
    margin-bottom: 20px; }
  section#schedule .timeline.timeline .timeline-item:nth-of-type(even) {
    margin-top: 0; }
  section#schedule .timeline.timeline .timeline-item > .timeline-event {
    float: right !important; }
  section#schedule .timeline.timeline .timeline-item > .timeline-event:before,
  section#schedule .timeline.timeline .timeline-item > .timeline-event:after {
    right: auto !important;
    border-left-width: 0 !important; }
  section#schedule .timeline.timeline .timeline-item > .timeline-event:before {
    left: -15px !important;
    border-right-width: 15px !important; }
  section#schedule .timeline.timeline .timeline-item > .timeline-event:after {
    left: -14px !important;
    border-right-width: 14px !important; }
  section#schedule .timeline.timeline .timeline-item > .timeline-point {
    transform: translateX(-50%);
    left: 42px !important;
    margin-left: 0; }
  section#schedule .timeline.timeline .timeline-label {
    transform: translateX(-50%);
    margin: 0 0 20px 42px; }
  section#schedule .timeline.timeline .timeline-label + .timeline-item + .timeline-item {
    margin-top: 0; } }

section#buy-tickets {
  background: #472F78;
  color: #fff; }

section#sponsors .sponsor_section {
  border: 1px solid #472F78;
  padding: 30px 0px;
  margin-bottom: 45px; }
  section#sponsors .sponsor_section h3 {
    font-family: Hack, monospace;
    font-weight: bold;
    font-size: 30px; }
  section#sponsors .sponsor_section .sponsors_logo a {
    padding: 20px;
    display: inline-block; }

footer {
  padding: 5em 0;
  background: #472F78;
  color: #fff; }
  footer p {
    font-size: 17px; }
  footer p.psecond {
    font-style: italic; }

  .navbar-brand {
    padding: 0px;
    margin-top: 5px;
  }
  
    .navbar {
      min-height: 95px;
  }
  
/*# sourceMappingURL=style.css.map */
